body {
    color: var(--color-text-primary);
    background-color: var(--color-background-secondary);
    font-family: var(--font-primary);
    text-align: left;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color-background-highlight);
    border-radius: 0.75rem;
    box-shadow: 4px 4px 6px var(--color-background-highlight);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

    .project-container:hover {
        transform: translateY(-4px);
        box-shadow: 8px 8px 10px var(--color-background-highlight);
    }

.project-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--font-size-header);
}

.project-description {
    font-size: var(--font-size-standard);
}

.project-image {
    width: 80%;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

.static-image {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 2;
    width: 95%;
    height: 95%;
    background: white;
    transition: opacity 0.2s ease-in-out;
    box-shadow: -20px -20px var(--color-background-highlight);
}

    .static-image:hover {
        opacity: 0;
    }

.active-image {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 1;
    width: 95%;
    height: 95%;
    box-shadow: -20px -20px var(--color-background-highlight);
}

.stack-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-stack {
    font-size: var(--font-size-standard);
}

.project-link-img {
    max-width: 30px;
    max-height: 30px;
    transition: transform 0.2s ease-in-out;
    content: url('./images/projects/githubwhite.png');
}

    .project-link-img:hover {
        transform: scale(1.2);
    }

@media (prefers-color-scheme: dark) {
    .project-link-img {
        content: url('./images/projects/githubwhite.png');
    }
}

@media (prefers-color-scheme: light) {
    .project-link-img {
        content: url('./images/projects/githubblack.png');
    }
}


