body {
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    text-align: center;
}

.skill-card-template {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color-background-highlight);
    border-radius: 0.75rem;
    background-image: linear-gradient(135deg, var(--color-background-menu) 30%, var(--color-background-primary) 60%, var(--color-background-secondary) 85%, var(--color-background-highlight-light));
}

.skill-logo {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

@media (max-width: 700px) {
    .skill-card-template {
        width: 60px;
        height: 90px;
        padding: 0.5rem 1rem;
    }
    .skill-logo {
        height: 48px;
        width: 48px;
    }
}