.about-section {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;
    padding: 1rem;
}

.about-header {
    position: relative;
    font-family: var(--font-primary);
    font-size: var(--font-size-header);
    color: var(--color-text-primary);
    text-align: left;
    margin: 2rem 5vw;
    display: inline-block;
    margin: 1rem auto 3rem auto;
    transition: text-shadow 0.2s ease-in-out;
}

    .about-header span:hover {
        text-shadow: 0 0 5px var(--color-text-primary), 0 0 10px var(--color-text-primary), 0 0 20px var(--color-text-primary);
    }

    .about-header::after,
    .about-header::before {
        content: "";
        position: absolute;
        left: 3vw;
        height: 2px;
        background-color: var(--color-background-highlight);
        border-radius: 2px;
        width: 100%;
    }

    .about-header::after {
        bottom: -0.3rem;
    }

    .about-header::before {
        bottom: -0.6rem;
    }

.about-content {
    max-width: 900px;
    font-family: var(--font-primary);
    font-size: var(--font-size-standard);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about-info {
    width: 100%;
}

.about-image-container {
    width: 200px;
    height: auto;
    float: right;
    margin: 0 3rem;
    padding: 0;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

@media (max-width: 700px) {
    .about-section {
        max-width: 600px;
    }

    .about-image-container {
        float: none;
        margin: 0 auto;
    }

    .about-info p {
        clear: both;
    }
}

.about-skills {
    --z-translate: 360px;
}

@media (max-width: 700px) {
    .about-skills {
        --z-translate: 200px;
    }

    .skill-card {
        width: 60px;
        aspect-ratio: 3/4;
    }
}

.skills-container {
    width: 100%;
    min-height: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    position: relative;
    margin: 0 auto 5rem auto;
    transform-style: preserve-3d;
    transition: animation 30s ease-in-out;
}

@media (max-width: 700px) {
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 20px;
    }
}

    .skills-container:hover {
        animation: rotateSkills 30s linear infinite;
    }

.skills-container:hover .skill-card {
    position: absolute;
    height: 80px;
    width: 100px;
    top: 50%;
    left: 50%;
}

    .skills-container:hover .skill-card:nth-child(1) {
        transform: translate(-50%, -50%) rotateY(0deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(2) {
        transform: translate(-50%, -50%) rotateY(30deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(3) {
        transform: translate(-50%, -50%) rotateY(60deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(4) {
        transform: translate(-50%, -50%) rotateY(90deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(5) {
        transform: translate(-50%, -50%) rotateY(120deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(6) {
        transform: translate(-50%, -50%) rotateY(150deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(7) {
        transform: translate(-50%, -50%) rotateY(180deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(8) {
        transform: translate(-50%, -50%) rotateY(210deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(9) {
        transform: translate(-50%, -50%) rotateY(240deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(10) {
        transform: translate(-50%, -50%) rotateY(270deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(11) {
        transform: translate(-50%, -50%) rotateY(300deg) translateZ(var(--z-translate));
    }

    .skills-container:hover .skill-card:nth-child(12) {
        transform: translate(-50%, -50%) rotateY(330deg) translateZ(var(--z-translate));
    }

@keyframes rotateSkills {
    0% {
        transform: rotateZ(0deg) rotateY(0deg);
    }

    25% {
        transform: rotateZ(5deg) rotateY(90deg);
    }

    50% {
        transform: rotateZ(0deg) rotateY(180deg);
    }

    75% {
        transform: rotateZ(-5deg) rotateY(270deg);
    }

    100% {
        transform: rotateZ(0deg) rotateY(360deg);
    }
}