@page "/about"
@layout MainLayout

<section class="about-section">
	<h1 class="about-header">About</h1>
	<article class="about-content">
		<div class="about-intro">
			<img class="about-image" src="~/images/mainlayout/githubwhite.png" alt="my photo"/>
			<p>Hello, my name is Tim Naish! I'm an experienced teacher, looking to move into the world of software development.</p>
		</div>
		<div class="about-info">
			<p>Something about my past.</p>
		</div>
		<div class="about-skills">

		</div>
	</article>
</section>
