body {
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    background-color: var(--color-background-primary);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.contact-header {
    position: relative;
    font-family: var(--font-primary);
    font-size: var(--font-size-header);
    color: var(--color-text-primary);
    text-align: left;
    display: inline-block;
    width: 100%;
    margin: 1rem auto 3rem auto;
    transition: text-shadow 0.2s ease-in-out;
}

    .contact-header span:hover {
        text-shadow: 0 0 5px var(--color-text-primary), 0 0 10px var(--color-text-primary), 0 0 20px var(--color-text-primary);
    }

    .contact-header::after,
    .contact-header::before {
        content: "";
        position: absolute;
        left: 3vw;
        height: 2px;
        background-color: var(--color-background-highlight);
        border-radius: 2px;
        width: 20%;
    }

    .contact-header::after {
        bottom: -0.3rem;
    }

    .contact-header::before {
        bottom: -0.6rem;
    }

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(250px, 60%, 600px);
}

label {
    font-weight: bold;
}

.contact-form-input,
.contact-form-input.valid,
.contact-form-input.invalid,
.contact-form-input.modified,
.contact-form-textarea,
.contact-form-textarea.valid,
.contact-form-textarea.invalid,
.contact-form-textarea.modified {
    font-family: var(--font-primary);
    font-size: var(--font-size-standard);
    padding: 0.5rem;
    border: 1px solid var(--color-background-highlight);
    border-radius: 0.5rem;
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
}


.contact-form-textarea.valid,
.contact-form-textarea.invalid,
.contact-form-textarea.modified {
    width: 100%;
    max-width: 500px;
}

button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-background-highlight);
    color: white;
    font-weight: bold;
}

    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

.success-message {
    margin-top: 1rem;
    font-size: var(--font-size-standard);
    color: var(--color-background-highlight);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 700px) {
    .contact-section {
        max-width: 500px;
    }

    .contact-form-textarea.valid,
    .contact-form-textarea.invalid,
    .contact-form-textarea.modified {
        width: 100%;
        max-width: 400px;
    }
}
