body {
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    background-color: var(--color-background-primary);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(250px, 60%, 600px);
}

    .contact-form label {
        font-weight: bold;
    }

    .contact-form-input,
    .contact-form-textarea {
        font-family: var(--font-primary);
        font-size: var(--font-size-standard);
        padding: 0.5rem;
        border: 1px solid var(--color-background-highlight);
        border-radius: 0.5rem;
        background-color: var(--color-background-secondary);
        color: var(--color-text-primary);
    }

button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-background-highlight);
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

    button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

.success-message {
    margin-top: 1rem;
    font-size: var(--font-size-standard);
    color: var(--color-background-highlight);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

