@page "/"
@layout MainLayout

<PageTitle>Tim Naish Portfolio</PageTitle>

<section class="intro-screen">
	<h1 class="intro-text">Tim Naish</h1>
</section>

<main class="main-content">
	<ul class="home-links-list">
		<li class="home-link"><a class="home-link-text" href="about">About</a></li>
		<li class="home-link"><a class="home-link-text" href="projects">Projects</a></li>
		<li class="home-link"><a class="home-link-text" href="https://exploringcoding.co.uk">Blog</a></li>
		<li class="home-link"><a class="home-link-text" href="contact">Contact</a></li>
	</ul>
</main>