@page "/"
@layout MainLayout

<section class="intro-screen">
	<h1 class="intro-text">Tim Naish</h1>
</section>

<main class="main-content">
	<ul class="home-links-list">
		<li class="home-link"><NavLink href="about">About</NavLink></li>
		<li class="home-link"><NavLink href="projects">Projects</NavLink></li>
		<li class="home-link"><a href="https://exploringcoding.co.uk">Blog</a></li>
		<li class="home-link"><NavLink href="contact">Contact</NavLink></li>
	</ul>
</main>