@page "/"
@layout MainLayout

<section class="intro-screen">
	<h1 class="intro-text">Tim Naish</h1>
</section>

<main class="main-content">
	<ul class="home-links-list">
		<li class="home-link"><a href="/about">About</a></li>
		<li class="home-link"><a href="/projects">Projects</a></li>
		<li class="home-link"><a href="https://exploringcoding.co.uk">Blog</a></li>
		<li class="home-link"><a href="/contact">Contact</a></li>
	</ul>
</main>