body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
}

.projects-section {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
}

.projects-header {
    position: relative;
    font-size: var(--font-size-header);
    text-align: left;
    align-self: flex-start;
    margin: 2rem 0;
    display: inline-block;
    transition: text-shadow 0.2s ease-in-out;
}

.projects-header span:hover {
    text-shadow: 0 0 5px var(--color-text-primary), 0 0 10px var(--color-text-primary), 0 0 20px var(--color-text-primary);
}

.projects-header::after,
.projects-header::before {
    content: "";
    position: absolute;
    left: 3vw;
    height: 2px;
    background-color: var(--color-background-highlight);
    border-radius: 2px;
    width: 100%;
}

.projects-header::after {
    bottom: -0.3rem;
}

.projects-header::before {
    bottom: -0.6rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 425px));
    gap: 3rem;
    padding: 3rem;
}

@media (max-width: 700px) {
    .projects-section {
        max-width: 600px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 275px));
        gap: 1rem;
        padding: 1rem;
    }
}