body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 45vw));
    gap: 1.5rem;
    padding: 2rem;
}
